<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
    <ul class="nav-bar">
        <li><a href= />Back to Home</a></li>
        <li><a href= about>About Cat and Dog</a></li>
        <li><a href= works>Influence</a></li>
        <li><a href= gallery>Interesting images</a></li>
    </ul> 

    <h1>About</h1>
    <img src="/images/gos i gat.jpeg" alt="dog">
    <p>The series revolves around Cat and Dog, a conjoined twin of a cat and a dog, who share the same body with no tail or hind legs. Although they are best friends and brothers, they have very different personalities, similar to “The Odd Couple” and the original “Looney Tunes” shorts, mixed with elements of Laurel and Hardy, Abbott and Costello, and fellow Nicktoon Ren and Stimpy. [3]Cat is very cultured while Dog is very fun-loving. Dog enjoys chasing garbage trucks, cars, and exploring many things that Cat does not want to be involved with. Dog enjoys eating at fast-food restaurants (such as Taco Depot), whereas Cat does not. The series takes place in Nearburg, a town dominated by anthropomorphic animals and the occasional humanoid.</p>

    <h2>Broadcast</h2>
    <p>The series originally aired on Nickelodeon in the US from 1998–2001. It was subsequently aired on Nicktoons (2002–2011) and on NickSplat (2013-2018). In the UK and Ireland, the series was broadcast on Nickelodeon (1998–2005), Channel 4 (1999-2007) and Nicktoons (2002–13). In Canada, the series was broadcast on Nickelodeon (2009–2019) and on YTV (1998–2006). In Australia and New Zealand, the series was broadcast on Nickelodeon (1998–2015). In Japan, the series was broadcast on Nickelodeon (1999–2009) and on TV Asahi. In Middle East, the series was broadcast on Nickelodeon Arabia (2010–2011) and on MBC 3 (2014–2015) and on Spacetoon English (2005–2011).</p>

    <h3>Main characters</h3>
    <p>CAT</p>
    <img src="/images/gat.png" alt="cat">

    <P>DOG</P>
    <img src="/images/dog.gif" alt="dog">
</body>
</html>