<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
    <ul class="nav-bar">
        <li><a href= />Back to Home</a></li>
        <li><a href= about>About Cat and Dog</a></li>
        <li><a href= works>Influence</a></li>
        <li><a href= gallery>Interesting images</a></li>
    </ul> 


    <h1>Gallery</h1>
    <img src="/images/lick.jpg" alt="dog">
    <img src="/images/gat.png" alt="dog">
    <img src="/images/gos i gat.jpeg" alt="dog">
    <img src="/images/dog.gif" alt="dog">
    <img src="/images/gat.png" alt="dog">
    <img src="/images/gos i gat.jpeg" alt="dog">

</body>
</html>