<!DOCTYPE html>
<html>
<head>
  <meta charset=“utf-8” />
  <title>Gat i gos' History</title>
  <link rel=“preconnect” href=“https://fonts.gstatic.com”>
  <link href=“https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap”
    rel=“stylesheet”>
    <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>
    <ul class="nav-bar">
        <li><a href= />Back to Home</a></li>
        <li><a href= about>About Cat and Dog</a></li>
        <li><a href= works>Influence</a></li>
        <li><a href= gallery>Interesting images</a></li>
    </ul> 

    <h1>Cat and dog</h1>
    <p>Famous 90's TV show</p>

    <img src="/images/unnamed.jpg" alt="dog">
  
</body>
</html>