<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <title>work</title>
</head>
<body>
    <ul class="nav-bar">
        <li><a href= />Back to Home</a></li>
        <li><a href= about>About Cat and Dog</a></li>
        <li><a href= works>Influence</a></li>
        <li><a href= gallery>Interesting images</a></li>
    </ul>  

    <img src="/images/lick.jpg" alt="dog">

    <h1>Awards and nominations</h1>
    <ul>
        <li>In 1998, the series was nominated for an Annie Award for Outstanding Individual Achievement for Writing in an Animated Television Production, for “Dog Gone”. The recipients would have been Derek Drymon, Robert Porter and Peter Hannan. </li>
        <li>At the 1999 Kids' Choice Awards, the show was nominated for Favorite Cartoon. However, it lost to Rugrats. It did so again in the 2000 Kids' Choice Awards.</li>
    </ul>

    <h3>Video games</h3>
    <ul>
    <li> CatDog: Quest for the Golden Hydrant (1999, PC)</li>
    <li>Nicktoons Racing (as playable characters)</li>
    <li> Nickelodeon Party Blast (Seen but not playable characters)</li>
    <li>Nicktoons: Attack of the Toybots (Seen but not playable characters)</li>
    <li> Nicktoons MLB (Seen but not playable characters)</li>
    <li> Super Brawl Universe (as playable characters)</li>
    <li> Nickelodeon Kart Racers 2: Grand Prix (as playable characters)</li>
    </ul>

    

    </ul>
</body>
</html>